/* Default */
body{
    font-family: Noto Sans TC, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 13.3px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #666;    

    background: #FFF;
    margin: 0px;
}
hr{
    background-color: #E8E8E8;
    border: 0px;
    height: 1px;
    margin: 0px;
    width: calc(100% - 1px);
}

/* Font */
.h1{
    font-size: 28px;
    line-height: 24px;
}
.h2{
    font-size: 30px;
    line-height: 34px;
}
.h3{
    font-size: 24px;
    line-height: 24px;
}
.button{
    font-size: 19px;
    line-height: 16px;
}
.content{
    font-size: 16px;
    line-height: normal;
}
/* .list{
    font-size: 14px;
    line-height: normal;
} */
.bold{
    font-weight: 700;
}
.medium{
    font-weight: 500;
}
.regular{
    font-weight: 400;
}

/* Color */
.whiteText{
    color: #FFF;
}
.grayText{
    color: #666;
}
.cyanText{
    color: #489;
}
.blackText{
    color: #000;
}
.whiteBg{
    background: #FFF;
}
.lightgrayBg{
    background: #E8E8E8;
}
.grayBg{
    background: #757575;
}
.cyanBg{
    background: #489;
}
.blackBg{
    background: #000;
}

/* function */
.pointer{
    cursor: pointer;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav */
.nevigation{
    display: flex;
    height: 54px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
        /* position: -webkit-sticky; */
}
@media(max-width: 1200px){
    .nevigation{
        width: calc(100% - 10px);
        margin: 0px 0px 0px 10px;
    }
}
.divNevigation{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}
.textNevigation{
    justify-content: center;
    align-items: center;
}
.frame1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forNavigation{
    display: flex;
    height: 14px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Sign in / Sign out */
.formOuterFrame{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.relativeFrame{
    position: relative;
    z-index: 200;
    height: 100%;
    width: 100%;
}
.formMask{
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
.formStyle{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: auto;
    width: 340px;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAA;
    overflow: hidden;
}
.formBanner{
    background: linear-gradient(270deg, #378 0%, #6AB 100%);
    height: 10px;
    width: 100%;
}
.formMiddleFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
}
.formTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 27px;
    margin: 15px;
}
.formInnerFrame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px
}
.nameIpt{
    width: calc(100% - 60px);
    height: calc(45px - 30px);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.emailIpt{
    width: calc(100% - 60px);
    height: calc(45px - 30px);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.pwIpt{
    width: calc(100% - 60px);
    height: calc(45px - 30px);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.signinBtn{
    padding: 10px 20px 10px 20px;
    width: 270px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #489;
    border-radius: 5px;
}
.errMsgFrame{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: red;
}
.switchBtnFrame{
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    line-height: 16px;
}
.switchBtnText{
    height: 22px;
}
.signinPageSwitchBtn{
    height: 22px;
}


/* Footer */
.footer{
    display: flex;
    width: 100%;
    height: 104px;
    flex-direction: column;
    align-items: center;
}
.footerTextFrame{
    display: flex;
    padding: 5px 0px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* except */
.errorMsg{
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 30px;
    line-height: 50px;
    width: 100%;
}
.errorMsgSmall{
    /* margin: 5px; */
    color: red;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    display: none;
}