/* Color */
.heroSectionBg{
    background: linear-gradient(135deg, #ADE 0%, #6AB 100%);
}
.welcomeBg {
    background: lightgray url("/static/images/welcome image.png") left top / cover no-repeat;
}
.searchIconBg{
    background: url("/static/images/Search.png") 50% 50% / contain no-repeat;
}
.searchBtnBg{
    background: #489;
}

/* Hero Section */
.heroSection{
    display: flex;
    width: 100%;
    height: 320px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.welcome{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan{
    display: flex;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 1200px; 
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
}
.sloganFrame{
    display: flex;
    width: 100%;
    height: 149px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
.search{
    display: flex;
    width: 100%;
    height: 46px;
    padding-right: 0px;
    align-items: center;
}
.searchBar{
    display: flex;
    max-width: 460px;
    width: 88%;
    height: 46px;
    justify-content: center;
    align-items: flex-start;
}
.searchInput{
    max-width: 400px;
    width: 100%;
    height: 46px;
    border: 0px;
    padding: 15px;
    box-shadow: 0px 0px 100px 5px #ABC;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: 700;
    box-sizing: border-box;
}
.searchBtn{
    display: flex;
    width: 60px;
    height: 46px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.searchIcon{
    width: 30px;
    height: 30px;
}

/* Main */
.mainFrame{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    padding: 40px 0px;
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 478px - 80px);
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}
.listBar{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    background: #FFF;
}
.leftContainer{
    display: flex;
    padding: 9px 0px 9px 15px;
    align-items: flex-start;
    opacity: 0.6;
}
.leftContainer:hover{
    opacity: 1;
}
.arrowLeft{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
.ArrowLeft{
    width: 32px;
    height: 32px;
    background: url("/static/images/Arrow Left.png") 50% / contain no-repeat;
}
.container{
    display: flex;
    width: calc(100%-84px);
    height: 24px;
    margin: 13px 10px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
.listItemContainer{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}
.listItem{
    display: inline-block;
    padding: 5px 15px;
    color: #666;
    text-align: center;
    height: 14px;
    
    white-space: nowrap;
}
.listItem:hover{
    color: black;
    font-size: 20px;
}
.rightContainer{
    display: flex;
    padding: 9px 15px 9px 0px;
    align-items: flex-start;
    opacity: 0.6;
}
.rightContainer:hover{
    opacity: 1;
}
.arrowRight{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
.ArrowRight{
    width: 32px;
    height: 32px;
    background:  url("/static/images/Arrow Right.png") 50% / contain no-repeat;
}

#attractionsFrame{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#attractionsGroup{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.attraction{
    min-width: calc(25% - 30px);
    height: 242px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex-basis: auto;
}
.attraction:hover{
    opacity: 0.7;
}
@media(max-width: 1200px){
    .attraction{
        min-width: calc(33% - 30px);;
    }
}
@media(max-width: 800px){
    .attraction{
        min-width: calc(50% - 30px);;
    }
}
@media(max-width: 450px){
    .attraction{
        min-width: calc(100% - 30px);;
    }
}
.imgAndName{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 195px;
    position: relative;
}
.mask{
    width: 100%;
    height: 100%;
    fill: #C4C4C4;
    position: absolute;
}
.attractionImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    align-items: center;
}
.detailNameFrame{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
}
.detailName{
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 16px;
}
.rectangle{
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000;
    justify-content: center;
    align-items: center;
}
.infos{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    text-align: start;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.attractionName{
    display: flex;
    width: calc(100% - 20px);
    height: 20px;
    margin: auto;
    text-align: start;
    align-items: center;
}
.detailMrtCatFrame{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.detailMrtCat{
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: center;
}
.detailMrt{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 16px;
}
.detailCat{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    line-height: 16px;
}