{% extends "base.html" %}

{% block title %}attraction{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/attraction.css"/>
{% endblock %}

{% block content %}
<hr/>
<div class="mainFrame">
    <div class="main">
        <div class="section">
            <div class="imgFrame" id="imgFrame">
                <div class="imgInsertTarget" id="imgInsertTarget">
                </div>
                <div class="leftContainer">
                    <div class="button arrowLeft pointer" id="arrowLeft">
                        <div class="ArrowLeft"></div>
                    </div>
                </div>
                <div class="rightContainer">
                    <div class="button arrowRight pointer" id="arrowRight">
                        <div class="ArrowRight"></div>
                    </div>
                </div>
                <div class="imgPositionCircleButton" id="imgPositionCircleButton">
                </div>
            </div>
            <div class="profile">
                <div class="profileTitle h3 bold" id="profileTitle"></div>
                <div class="profileDescription" id="profileDescription"></div>
                <div class="profileBookingFrame lightgrayBg">
                    <div class="bookingTitle bold grayText">訂購導覽行程</div>
                    <div class="bookingDescription grayText">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <form class="bookingForm" action="/attractions/1" method="get">
                        <fieldset class="bookingDateFrame">
                            <label class="itemNamebold bold">選擇日期：</label>
                            <input class="bookingDateInput" type="date" name="bookingDate" placeholder="yoyo/mm/dd" pattern="\d{4}-\d{2}-\d{2}">
                        </fieldset>
                        <fieldset class="bookingTimeFrame">
                            <label class="itemName bold">選擇時間：</label>
                            <div class="flexCenter">
                                <input class="bookingTimeInput" type="radio" name="bookingTime" value="2000">
                                <label class="bookingTimeText">上半天</label>
                            </div>
                            <div class="flexCenter">
                                <input class="bookingTimeInput" type="radio" name="bookingTime" value="2500">
                                <label class="bookingTimeText">下半天</label>
                            </div>
                        </fieldset>
                        <div class="bookingPriceFrame bold">
                            <div class="bookingPrice">導覽費用：</div>
                            <div class="bookingPriceInput">新台幣 0 元</div>
                        </div>
                        <div class="bookingButton button cyanBg whiteText pointer">開始預約行程</div>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="infos">
            <div class="infosDescription" id="infosDescription"></div>
            <div class="infosAddressFrame">
                <div class="infosAddressTitle bold">景點地址:</div>
                <div class="infosAddress" id="infosAddress"></div>
            </div>
            <div class="infosTrafficFrame">
                <div class="infosTrafficTitle bold">交通方式:</div>
                <div class="infosTraffic" id="infosTraffic"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/attraction.js"></script>
{% endblock %}