<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/cssreset.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav class="nevigation whiteBg">
            <div class="divNevigation">
                <a href="/">
                    <h2 class="h2 bold cyanText pointer" onclick="linkToUrl('/')">台北一日遊</h2>
                </a>
                <div class="frame1">
                    <div class="forNavigation">
                        <a href="/booking">
                            <div class="medium grayText pointer" id="bookingPageBtn">預定行程</div>
                        </a>
                    </div>
                    <div class="forNavigation">
                        <a href="/orders">
                            <div class="medium grayText pointer" onclick="linkToUrl('/orders')" id="orders">訂單</div>
                        </a>
                    </div>
                    <div class="forNavigation">
                        <a href="/">
                            <div class="medium grayText pointer" id="signin"> 載入中 </div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <hr/>
        {% block content %}
        {% endblock %}
        <footer class="footer grayBg">
            <div class="footerTextFrame">
                <div class="medium whiteText">
                    COPYRIGHT © 2021 台北一日遊
                </div>
            </div>
        </footer>
    </body>
    <script src="/static/js/base.js"></script>
    {% block script %}
    {% endblock %}
</html>