<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>index</title>
        <link rel="stylesheet" type="text/css" href="/static/css/cssreset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    </head>
    <body>
        <div class="nevigation whiteBg">
            <div class="divNevigation">
                <div class="h2 bold cyanColor-70 pointer" onclick="linkToUrl('/')">台北一日遊</div>
                <div class="frame1">
                    <div class="forNavigation">
                        <div class="bold grayColor-70 pointer" onclick="linkToUrl('/')">預定行程</div>
                    </div>
                    <div class="forNavigation">
                        <div class="bold grayColor-70 pointer" onclick="linkToUrl('/')">登入/註冊</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heroSection heroSectionBg">
            <div class="welcome welcomeBg">
                <div class="slogan">
                    <div class="sloganFrame">
                        <div class="h1 bold whiteText">輕鬆享受台北一日悠閒</div>
                        <div class="bold whiteText">探索每個角落，體驗城市的深度旅遊行程</div>
                        <div class="search">
                            <div class="searchBar">
                                <input type="text" class="searchInput" id="searchInput" placeholder="輸入景點名稱查詢"/>
                                <div class="searchBtn searchBtnBg" id="searchBtn">
                                    <div class="searchIcon searchIconBg pointer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainFrame">
            <div class="main">
                <div class="listBar">
                    <div class="leftContainer">
                        <div class="button arrowLeft pointer" id="arrowLeft">
                            <div class="ArrowLeft"></div>
                        </div>
                    </div>
                    <div class="container" id="container">
                        <div class="listItemContainer" id="listItemContainer">
                        </div>
                    </div>
                    <div class="rightContainer">
                        <div class="button arrowRight pointer" id="arrowRight">
                            <div class="ArrowRight"></div>
                        </div>
                    </div>
                </div>
                <div id="attractionsFrame">
                    <div id="attractionsGroup">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer grayBg">
            <div class="footerTextFrame">
                <div class="bold whiteText">
                    COPYRIGHT © 2021 台北一日遊
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/index.js"></script>
</html>