{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
{% endblock %}

{% block content %}
<main class="heroSection heroSectionBg">
    <div class="welcome welcomeBg">
        <div class="slogan">
            <div class="sloganFrame">
                <h1 class="h1 medium whiteText">輕鬆享受台北一日悠閒</h1>
                <div class="medium whiteText">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <div class="searchBar">
                        <input type="text" class="searchInput" id="searchInput" placeholder="輸入景點名稱查詢"/>
                        <div class="searchBtn searchBtnBg" id="searchBtn">
                            <div class="searchIcon searchIconBg pointer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="mainFrame">
    <div class="main">
        <div class="listBar">
            <div class="leftContainer">
                <div class="button arrowLeft pointer" id="arrowLeft">
                    <div class="ArrowLeft"></div>
                </div>
            </div>
            <div class="container" id="container">
                <div class="listItemContainer" id="listItemContainer">
                </div>
            </div>
            <div class="rightContainer">
                <div class="button arrowRight pointer" id="arrowRight">
                    <div class="ArrowRight"></div>
                </div>
            </div>
        </div>
        <div id="attractionsFrame">
            <div id="attractionsGroup">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/index.js"></script>
{% endblock %}